.CSS-gamewindow{
    background-color: white;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px red;
    padding-top: 1rem;
    caret-color: white;
}

#CSS-gametitle{
    font-weight: 700;
    font-size: 2.5rem;
    text-shadow: 0px 0px 1px red;
    border: 1px solid black;
    padding: .5rem;
    margin: 1px;
}


.CSS-game{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.CSS-betbuttons-div{
    display: flex;
    flex-direction: row;
}

.CSS-betbuttons{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    height: 6rem;
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.CSS-betbuttons:active{
    border: 3px solid red;
    box-shadow: 0px 0px 5px red;
}
.CSS-betbuttons:hover{
    cursor:pointer;
}

#CSS-gambling-result{
    font-size: 5rem;
    height: 10rem;
    align-content: center;
    font-weight: 700;
}

.CSS-gambling-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

#CSS-red{
    color: red;
    border: 3px red solid;
}

#CSS-black{
    color: black;
    border: 3px black solid;
}

.CSS-boldtext{
    font-weight: 700;
    font-size: 2rem;
}

.CSS-boldertext{
    font-weight: 900;
    font-size: 3rem;
    text-decoration: underline;
}

.CSS-result-red{
    color: red;
    font-weight: 800;
    text-shadow: 0px 0px 5px black;
}

.CSS-result-black{
    color: black;
    font-weight: 800;
    text-shadow: 0px 0px 5px black;
}

#CSS-resetbutton{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    padding: 2px;
}