.CSS-gamewindow{
    display: flex;
    justify-content:center;
    border: 2px solid black;
    box-shadow: inset 0px 0px 2px black;
    margin-top: 1.5rem;
    background-color: white;
    padding: 3px;
    caret-color: transparent;
}

.upgradepic{
    width: 9rem;

}

#factoryPic{
    padding-top: 2rem;
}


.CSS-gameheader{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px black solid;
    padding-left: 5px;
    padding-right: 5px;
}

.CSS-catpic{
    width: 1fr;
    height:500px;
    border: 2px solid black;
    border-radius: 50px;
}

.CSS-catpic:active{
    width: 1fr;
    height:500px;
    border: 2px solid orange;
    border-radius: 50px;

}

.CSS-gamesidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-size: large;
    border: .5rem solid black;
    background-color: whitesmoke;
}

.CSS-userscore{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 700;
}

.CSS-ownedcount{
    margin-top: 5px;
    margin-bottom: 5px;
}

.CSS-clickgamebutton{
    background:gray;
}

.CSS-clickgamebutton:active{
    background-color: orange;
}

.CSS-clickgamebutton:hover{
    cursor:pointer;
}
.CSS-itemcost{
    color: red;
}

.CSS-buybutton{
    font-weight: 600;
}

.CSS-itembuycontainer{
    display: grid;
    justify-content: center;
    border:2rem;
}

/* Media Queries */
@media (max-width: 670px) {
    .CSS-catpic{
        width: 1fr;
        height:360px;
        border: 1px solid black;
        border-radius: 50px;
    }
}


@media (min-width: 1000px) {
    .CSS-catpic{
        width: 1fr;
        height:500px;
        border-radius: 50px;
    }

    .CSS-gamesidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1fr;
    }

    .CSS-gamewindow{
        display: flex;
        justify-content:space-around;
        border: 1px solid black;
        box-shadow: inset 0px 0px 2px black;
    }
} 

