.CSS-allgames{
    margin-top: .7rem;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.CSS-games a{
    transition: opacity 1s;
}
.CSS-games a:hover{
    opacity: 70%;
}
.CSS-games{
    display: flex;
    justify-content: center;
    flex-direction:row;
    font-size: x-large;
    font-weight: 500;
    border: 1px black solid;
    padding: 1px;
}

.CSS-gamedescription{
    flex-direction: column;
}
.CSS-games div{
    margin: 1rem;
}

.CSS-games img{
    height: 20rem;
    width: 20rem;
    border: 1px black solid;
}

#gametitle{
    font-weight: 600;
}

.CSS-games p{
    width:14rem;
}

@media (min-width:1500px) {
    .CSS-games p{
        width:25rem;
        font-size: 2rem;
    }
}

@media (max-width:585px) {
    .CSS-games p{
        width:10rem;
        font-size: 1rem;
    }
    
    .CSS-games img{
        height:12rem;
        width:12rem;
    }
}