{% extends "template.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/twentyone/TO-gamewindow.css">
{% endblock %}
{% block title %}
<title>JamesGames- Twenty-One</title>
{% endblock %}

{% block body %}
    <section class="CSS-gamewindow">
            <div class="CSS-game">
                <p id="CSS-gametitle">Twenty-One</p>
                <p id="CSS-dealerhand" class="CSS-cardhands-dealer">Dealer: </p>
                <p id="CSS-playerhand" class="CSS-cardhands">Player: </p>
                <div class="CSS-gambling-stats">
                    <span class="CSS-boldtext">Current Money:</span><span id="money"></span><br>
                    <span class="CSS-boldtext">Win Streak:</span><span id="winstreak">0</span><br>
                </div>
                <button id="CSS-start" class="CSS-betbuttons">Start Game</button>
                <button id="CSS-hit" class="CSS-betbuttons">Hit Me!</button>
                <button id="CSS-stay" class="CSS-betbuttons">Stay</button>
                <button id="CSS-resetgame" class="CSS-betbuttons">Reset Game</button>
                <p class="CSS-boldertext">Bet Modifiers</p>
                <div class="CSS-betmodifiers">
                    <button id="CSS-10" class="CSS-betmod-buttons">$10</button>
                    <button id="CSS-20" class="CSS-betmod-buttons">$20</button>
                    <button id="CSS-30" class="CSS-betmod-buttons">$30</button>
                </div>
           </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/twentyone/twentyone.js"></script>
{% endblock %}