{% extends "template.html" %}

{% block styles %}
 <link rel="stylesheet" href="/static/styles/index/body.css">
{% endblock %}
{% block body %}
    <section class="CSS-allgames">
        <div class="CSS-games">
            <div class="CSS-gamedescription">
                <a href="/clicker"><p id="gametitle">Clicker Game</p></a>
                <p>Click the cat to get money and buy buildings!<br>
                    Earn more money, buy upgrades!</p>
            </div>
            <div>
                <a href="/clicker"><img src="/static/images/clicker/cat.jpg" alt="clicker game"></a>
            </div>
        </div>
        <div class="CSS-games">
            <div class="CSS-gamedescription">
                <a href="/clicker"><p id="gametitle">Clicker Game</p></a>
                <p>Click the cat to get money and buy buildings!<br>
                Earn more money, buy upgrades!</p>
            </div>
            <div>
                <a href="/clicker"><img src="/static/images/clicker/cat.jpg" alt="clicker game"></a>
            </div>
        </div>
    </section>
{% endblock %}