<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/header.css">
    <link rel="stylesheet" href="./static/styles/general.css">
    {% block styles %}
    {% endblock %}
    {% block title %}
    <title>JamesGames</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="CSS-headerbar">
            <a href="/"><p id="header-title">James' Games</p></a>
        </div>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        &copy James Sadler 2024
    </footer>
        {% block scripts %}

        {% endblock %}
</body>
</html>