
.CSS-headerbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 60px;
    font-weight: 550;
    font-size: large;
    color: white;
    padding: 1px;
}

#header-title{
    text-shadow: 1px 1px 1px red;
    font-size: 2rem;
}
.CSS-headerbar a{
    text-decoration: none;
    color: white;
}    

.CSS-headerbar p{
    text-decoration: none;
    color: white;
}    

.CSS-headerbar a:hover{
color: orange;
}    

